footer {
    background-color: #fdf2e9;
    text-align: left;
    padding: 0 30px;
    margin-top:450px;
    width: 100%;
    height: 60px;
  }
/* Form card style for Login Form */
  .form-card {
    font-weight: lighter;
    color: #0f3062;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25%;
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px;
    background-color: #fdf2e9;
    border: 1px black;
    border-radius: 10px;
    box-shadow: 5px 5px #fde9ea;
  }